.sectionHeader{
    display: flex;
    flex-direction: row;
   
    margin: 20px;
}
button{
    width: 47px;
    height: 70px;
    border: none;
    transition-duration: 0.4s;
    
}
button:hover{
    background-color: rgb(134, 131, 131);
}
.sectionName{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
    background-color: rgb(51, 143, 112);
    width: 100px;
    border: none;
    color: white;
}
