.note{
    background-color: rgb(51, 143, 112);
    border-radius: 3px;
    border: none;
    color: white;
}
.noteHolder{
    display: flex;
    flex-direction: row;
    background-color: rgb(51, 143, 112);
    width: 100;
    margin: 3px;
}

button{
    width: 47px;
    height: 70px;
    border: none;
    transition-duration: 0.4s;
    
}
button:hover{
    background-color: rgb(134, 131, 131);
}